.childContainer {
    width: 30px; /* Set width and height for circular shape */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Makes the div circular */
    cursor: pointer; /* Indicates clickable */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.childContainer:hover {
    background-color: #3F5880 ; /* Secondary color or any hover color you prefer */
}

/* Paper (menu background) styling */
.menu-paper {
    background-color: #3F5880 !important; /* Primary color with !important */
}

/* Menu item styling */
.menu-item {
    color: #FFFFFF !important; /* Ensure text color applies */
}

/* Menu item hover effect */
.menu-item:hover {
    background-color: #304971 !important; /* Secondary color for hover effect */
}
