.custom-card {
  background-color: #304971 !important; 
  width: 350px; 
  height: 200px; 
  margin: 20px; 
  border: none;
  border-radius: 10px;
}

.custom-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10;
}

.custom-card .card-title,
.custom-card .card-text {
  margin: 0; 
  padding: 0; 
  color: white;
}
