.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-form {
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  color: black;
  box-sizing: border-box;
}

.auth-title {
  text-align: center;
  margin-bottom: 25px;
}

.auth-form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.checkbox-wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.auth-form button {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background-color: #3F5880;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.auth-form button:hover {
  background-color: #304971;
}
