.create-container {
  position: fixed; 
  top: 10px; 
  right: 10px; 
  z-index: 1;
}

.create-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 6px;
  border: 0.2px solid #ccc; 
  border-radius: 6px; 
  background-color: #3F5880; 
  color: #24292f; 
  cursor: pointer;
  font-size: 10px;
  height: 5vh;
  width: 4vw;
}

.plus-icon {
  margin-right: 6px;
  font-size: 28px;
  color: white;
}

.dropdown-arrow {
  font-size: 10px;
  color: white;
}

.create-dropdown-options {
  position: absolute;
  top: calc(100% + 4px); 
  left: 0;
  background-color: #3F5880;
  border: 0.2px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10; 
  min-width: 140px; 
}

.create-dropdown-options ul {
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.create-dropdown-options li button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.create-dropdown-options li button:hover {
  background-color: #304971;
}