.custom-navbar {
  color: white !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: white !important;
}

.custom-navbar .navbar-toggler-icon {
  filter: invert(1);
}

.nav-link {
  background-color: red;
  color: white; /* Ensure the text color is white */
}
