.custom-navbar {
  background-color:   #3F5880; 
  color: white !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: white !important;
}

.custom-navbar .navbar-toggler-icon {
  filter: invert(1);
}
