/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #304971;
}

/* Set a default font for the entire application */
body {
  font-family: Arial, sans-serif;
  color: white; /* Global font color */
  /* background-color: green; Global background color */
}

/* Define global styles for common HTML elements */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p {
  line-height: 1.6;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

/* Global animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}
